.newsletter_input{
    background-color: #000;
    border: none;
    border-radius: 10px;
    color:fff;
    height:50px;
    outline:none;
    padding: 5px 90px 5px 15px;
    width:100%;
  }
  .newsletter_btn{
    background-color: #ff4a17;
    border:none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    overflow: hidden;
    padding: 7px 25px;
    position: absolute;
    right:5px;
    top:5px;
  
  }